@page "/gerenciar"
@using Atividade6_Blazor.Shared;
@using Atividade6_Blazor.Services;
@using Atividade6_Blazor.Models;

<h1>Gerenciar Pedidos</h1>



@if (BtnCriar)
{
    <FormularioPedido pedido="atualizar" AoAdicionar="AdicionarPedido" AoCancelar="CriarPedido"></FormularioPedido>
}

<button @onclick="CriarPedido">@mensagem</button>


@foreach (var p in pedidos)
{
    <CardPedido pedido="p" OnRemover="RemoverPedido" OnEditar="Atualizar"></CardPedido>
}

@code {
    private PedidoService PedServ = new PedidoService();
    private List<Pedido> pedidos = new();
    private Pedido atualizar = new Pedido();
    private bool BtnCriar = false;
    private string mensagem = "Criar Pedido";


    protected override async Task OnInitializedAsync()
    {
        pedidos = PedServ.ObterTodosPedidos();
        await Task.Delay(1000);
    }

    public void CriarPedido()
    {
        if (BtnCriar)
        {
            atualizar = new Pedido();
            BtnCriar = false;
            mensagem = "Criar Pedido";
        }
        else
        {
            BtnCriar = true;
            mensagem = "Cancelar";
        }
    }

    public void RemoverPedido(Pedido pedido)
    {
        PedServ.RemoverPedido(pedido);
        BtnCriar = false;
    }


    public void Atualizar(Pedido pedido)
    {
        atualizar = pedido;
        BtnCriar = true;
    }

    public void AdicionarPedido(Pedido pedido)
    {
        if(PedServ.ObterPedidoPorId(pedido.Id) != null)
        {
            PedServ.AtualizarPedido(pedido);
        }
        else
        {
            PedServ.AdicionarPedido(pedido);
        }
        CriarPedido();
    }




}
