@using Atividade6_Blazor.Shared;
@using Atividade6_Blazor.Services;
@using Atividade6_Blazor.Models;

@if (formulario)
{
    <FormularioItemPedido item="alterarItem" OnAdicionar="AdicionarItem" OnCancelar="CancelarItem"></FormularioItemPedido>
}else
{
    <button @onclick="NovoItem">Adicionar novo Item</button>
}


<table class="table table-bordered mt-3 mb-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preço Unitário</th>
            <th scope="col">Quantidade Pedida</th>
            <th scope="col">Total</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in itens)
        {
            <tr>
                <td>@i.Produto.Nome</td>
                <td>@i.Produto.Preco.ToString("C")</td>
                <td>@i.Quantidade</td>
                <td>@i.Subtotal.ToString("C")</td>
                <td>
                    <button class="btn-danger" @onclick="() => RemoverItem(i)">Remover</button>
                    <button class="btn-warning" @onclick="() => AtualizarItem(i)">Atualizar</button>
                </td>
            </tr>

        }
    </tbody>
</table>



@code {
    [Parameter] public List<ItemPedido> itens { get; set; }
    private ItemPedido alterarItem = new ItemPedido();

    private bool formulario = false;


    public void NovoItem()
    {
        formulario = true;
    }


    public void AdicionarItem(ItemPedido i)
    {
        ItemPedido existente = itens.Find(item => item.Produto.Id == i.Produto.Id);
        if (existente == null)
        {
            itens.Add(i);
        }
        else
        {
            i.Quantidade = existente.Quantidade;
            itens[itens.IndexOf(existente)] = i;
        }
        formulario = false;
    }

    public void AtualizarItem(ItemPedido i)
    {
        alterarItem = i;
        NovoItem();
    }

    public void RemoverItem(ItemPedido i)
    {
        itens.Remove(i);
    }

    public void CancelarItem()
    {
        formulario = false;
    }


}
